@using CustomIdentity.ViewModels;
@model RegisterVM

@{
	ViewData["Title"] = "Register";

}

<div Class="row d-flex align-items-center justify-content-center">
	<div class="col-md-4 card p-3">
		<h2 class="text-center text-info">Register</h2>
		<form asp-action="Register"method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-1">
				<label asp-for="FirstName"></label>
				<input asp-for="FirstName " class=" form-control" placeholder ="First Name"  />
				<span asp-validation-for="FirstName " class="text-danger"></span>
			</div>
			<div class="mb-1">
				<label asp-for="LastName"></label>
				<input asp-for="LastName " class=" form-control" placeholder="Last Name"  />
				<span asp-validation-for="LastName " class="text-danger"></span>
			</div>
			<div class="mb-1">
				<label asp-for="Email"></label>
				<input asp-for="Email " class=" form-control" placeholder="sam@outlook.com" />
				<span asp-validation-for="Email "class="text-danger"></span>
			</div>
			<div class="mb-1">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class=" form-control" placeholder="+971563949575" oninput="this.value = this.value.replace(/[^0-9+]/g, '')"  />
				<span asp-validation-for="PhoneNumber " class="text-danger"></span>
			</div>
			<div class="mb-1">
				<label asp-for="Password"></label>
				<input asp-for="Password " class=" form-control"/>
				<span asp-validation-for="Password "class="text-danger"></span>
			</div>
			<div class="mb-1">
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword " class=" form-control"/>
				<span asp-validation-for="ConfirmPassword "class="text-danger"></span>
			</div>
			<div class="mb-1">
				<label asp-for="Address"></label>
				<textarea asp-for="Address " class=" form-control" rows="2" placeholder="Address"></textarea>
				<span asp-validation-for="Address "class="text-danger"></span>
			</div>		
			<div class="row">
				<a asp-action="Login" class="text-decoration-none float-start mt-2" align="left">Have an account</a>
				<div class="col-8">				
					<input class="btn btn-outline-success btn-sm float-end" type="reset" value="Reset" />
				</div>
				<div class="col-3">
					<input type="Submit" value="Register" class="btn btn-primary btn-sm float-end"/>
									
				</div>
				
			</div>

		</form>
	</div>
		</div>
	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}

	}